.demo {
    margin:4em auto;
    width: 70%;
  }
  .img-full {
    height: 160px;
    overflow: hidden;
    position: relative;
  }
  
  .img-full img {
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bold{
    font-weight: 600;
  }.autor > i.fa-user {
    font-size: 30px;
    color: #ddd;
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
    text-align: center;
  }
  .autor > i.fa-share {
    font-size: 18px;
    color: #cccccc;
    width: 35px;
    text-align: right;
  }
  .d-flex{
    align-items: center;
  }.d-blok {
    width: calc(100% - 70px);
    padding-left: 10px;
  }.desc {
    padding: 10px;
  }.padB-15{
    padding-bottom: 15px;
  }.title {
    cursor: pointer;
}