<div class="container demo">
    <h2 class="border-bottom mb-3 ng-binding pb-2 text-center">Detail Post</h2>
<div *ngIf="post">
    <div class="row border-1">
      <div class="col-sm-2 ">
        <div class="img-full">
          <img [src]="post.image" alt="" />
        </div>
      </div>
      <div class="col-sm-10">
        <div class="title">{{ post.title }}</div>
        <div>{{ post.desc }}</div>
        <div class="capt">
            <div class="autor d-flex">
                <i class="fa fa-user"></i>
                <div class="d-blok">
                    <div class="bold">{{ post.author }}</div>
                    <div>{{ post.date }}</div>
                </div>
                <i class="fa fa-share"></i>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 offset-4">
        <div (click)="goBack()" class="btn btn-outline btn-lg btn-block w-100">Cancel</div>
      </div>
    </div>
</div>
</div>
